pywin32
numpy==1.17.4
pandas==0.25.3
colorama==0.4.3
gtts==2.0.4
scikit-learn==0.22.2
lxml==4.4.2
# pyaudio==0.2.11
pyttsx3==2.71
requests==2.22.0
SpeechRecognition==3.8.1
wikipedia==1.4.0
pathlib==1.0.1
sql-tools==3.1.0
tools-lib==0.0.3
playsound==1.2.2
newsapi-python==0.2.6
opencv-python==4.1.2.30
selenium==3.141.0
pymongo==3.11.0
pylama
